.btn {
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: ease-in-out .3s;
  margin: 0.5rem 0;
  text-decoration: none;
  font-size: 14px;

  &:hover {
    cursor: pointer;
  }

  &-primary {
    background-color: #c9c9c9;
    border: 1px solid #c9c9c9;
    color: #20211F;

    &:hover {
      background-color: #a7a7a7;
      border: 1px solid #a7a7a7;
      color: #20211F !important;
    }
  }

  &-secondary {
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
  }

  &-light {
    background-color: transparent;
    border: 1px solid #436187;
    color: #436187;
  }

  &-disabled {
    background-color: transparent;
    border: 1px solid #DFDFDF;
    color: #DFDFDF;
  }
}