.restaurants {

  &__list {
    display: flex;
    flex-wrap: wrap;

    .ant-card {
      transition: all .3s;

      &:hover {
        cursor: pointer;
        background-color: #eeeeee;
      }

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}